#time {
  position: fixed; /* Floating above */
  pointer-events: none; /* Allow clicking trough the div */
  width: fit-content;
  padding: 0 5px 0 5px;
  height: 20px;
  font-size: 15px;
  text-align: center;
  color: black;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10%;
}
button {cursor: pointer}